/* --------------------------------------------------------NAV BAR----------------------------------------------------------------*/
.bg-light{
    background-color: #51d09c !important;
}
.formConnection input.field  {
    color: #0e4a2e;
    background-color: #ffffff9c;
    border-color: #0e4a2e4f;
    padding-left: 10px;
    border-radius: 5px;
}
.inputBtn {
    color: #0e4a2e;
    border-color: #0e4a2e;
    border-radius: 5px;
    background-color: #ffffff66;
}
.inputBtn:hover {
    color: #fff;
    background-color: #0e4a2e8a;
    border-color: #0e4a2e8a;
}
a.nav-link {
    display: flex;
}
i.fas {
    margin-right: 5px;
    padding: 3px;
}
.formConnection {
    margin: 0px 20px;
}
/* ---------------------------------------------------------NAV BAR------------------------------------------------------------*/
/* ---------------------------------------------------------HEADER-------------------------------------------------------------*/
header {
    padding: 20px;
}
.chapters {
    text-align: center;
    margin: 20px;
}
#hello {
    font-family: fantasy;
    margin: -4px 20px;
    font-size: 1.1rem;
}
/* ---------------------------------------------------------HEADER-------------------------------------------------------------*/
/* ---------------------------------------------------------FOOTER-------------------------------------------------------------*/
footer {
    padding: 20px;
    background-color: #5fd19c;
}
footer p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20%;
}
.fa-twitter-square {
    font-size: 2rem;
}
.fa-instagram {
    font-size: 2rem;
}
footer span {
    text-align: center;
}
ul.contact-me {
    margin-top: 20px;
    list-style-type: none; 
}
/* ---------------------------------------------------------FOOTER-------------------------------------------------------------*/
/* ---------------------------------------------------------HOME VIEW.PHP----------------------------------------------------*/
.imgHomeChapter {
    width: 85%;
}
/* ---------------------------------------------------------HOME VIEW.PHP----------------------------------------------------*/

/* ---------------------------------------------------------TICKET VIEW.PHP----------------------------------------------------*/
.ticket-title-ticketView {
    text-align: center;
}
.card-body.text-success {
    background-color: #4ea7464d;
    color: #000000 !important;
}

/* ---------------------------------------------------------TICKET VIEW.PHP----------------------------------------------------*/
/* ---------------------------------------------------------CHAPTERS VIEW.PHP--------------------------------------------------*/

.chapter {
    padding: 10px;
    margin: 10px;
    border: solid 2px #60d19c;
}

/* ---------------------------------------------------------CHAPTERS VIEW.PHP--------------------------------------------------*/

/* ---------------------------------------------------------REGISTRATION VIEW.PHP----------------------------------------------*/
.conteinerForm {
    padding: 25px;
}
.registerForm {
    background-color: #bce2c77a !important;
    padding: 15px;
    border: 1px solid #1e4a2f47;
    border-radius: 5px;
}
.form-group.submit {
    text-align: center;
}
.submitRegistration {
    color: #0e4a2e;
    border-color: #0e4a2e;
    max-width: 130px;
    min-width: 77px;
}
.labelRegister {
    text-align: end;
}
.inputRegister {
    max-width: 380px;
    height: 33px;
    border: 1px solid #1e4a2f66;
    border-radius: 4px;
}
/* ---------------------------------------------------------REGISTRATION VIEW.PHP----------------------------------------------*/
/* ---------------------------------------------------------REGISTRATION CONFIRMATION VIEW.PHP---------------------------------*/

#confirmation {
    text-align: center;
    padding: 20px;
    margin: 100px 0px;
}

/* ---------------------------------------------------------REGISTRATION CONFIRMATION VIEW.PHP---------------------------------*/

/* ---------------------------------------------------------ADMINCREATECHAPTER.PHP---------------------------------------------*/
.adminCreateChapter {
    padding: 20px;
}
.adminCreateChapter h2 {
    text-align: center;
    padding: 20px;
}
.submitAdminCreateChapter {
    margin-left: 20px;
}
.titleCreateChapter {
    margin-bottom: 20px;
    padding: 20px;
}
.descriptionChapter {
    margin-bottom: 20px;
    padding: 20px;
}
.submitAdminCreateChapter2 {
    display: block;
    width: 100%;
    margin-top: 20px;
}

/* ---------------------------------------------------------ADMINCREATECHAPTER.PHP---------------------------------------------*/
/* ---------------------------------------------------------ERRORS VIEW.PHP----------------------------------------------------*/

.errors {
    padding: 20px;
    margin: 100px 0px;
}

/* ---------------------------------------------------------ERRORS VIEW.PHP----------------------------------------------------*/





/* ---------------------------------------------------------MEDIA QUERIES------------------------------------------------------*/

@media (max-width: 684px) {
    .labelRegister {
        text-align: initial;
    }
}